<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=titleTag%></title>
    <link rel="stylesheet" href="/style.css">
    <link
			rel="stylesheet"
			href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
		/>
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
  </style>
  </head>
