  <a href="/beer/home">
    <button type="button" class ="lnr lnr-home" name="home" title = "Home"></button>
  </a>
  <a href="/beer/library">
    <button class='button lnr lnr-database' type="button" name = 'library' title='Library'></button>
  </a>
  <a href="/beer/library/addnew">
    <button class='addButton lnr lnr-plus-circle'type="button" title = "Add To Library"></button>
  </a>
