<%- include('./partials/head.ejs')%>

  <body>


    <div class="titlebar">

      <%- include('./partials/header.ejs')%>

      <div class='topnav'>
        <nav class = 'menubar'>
          <a href="/library">
            <button class='deleteButton' type="button">Cancel</button>
          </a>
        </nav>
      </div>

    </div>

    <div class="formContainer">
      <h2>Add New Beer Entry<br></h2>
      <form id="addForm" action="/library" method="post">
          <br>
        Name*: <input class = 'field' type="text" name="name" required>
          <br>
        Style*: <input class = 'field' type="text" name="style" required>
          <br>
        IBU: <input class = 'field' type="number" name="ibu">
          <br>
        ABV*: <input class = 'field' type="text" name="abv" required>
          <br>
        Description*: <input class = 'field' type="text" name="description" required>
          <br>
        Image URL: <input class = 'field' type="text" name ="image url">
          <br>
          <br>
        <button class = 'addButton lnr lnr-checkmark-circle' type="submit"></button>

      </form>
    </div>

  </body>
</html>
