<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>


    <div class="titlebar">

      <div class="header">
        <h1>homebrewers database</h1>
      </div>

      <div class='topnav'>
        <nav>
          <a href="/library">
            <button class='deleteButton' type="button">Cancel</button>
          </a>
        </nav>
      </div>

    </div>

    <div class="formContainer">
      <form id="addForm" action="/library" method="post">
          <br>
        Name*: <input class = 'field' type="text" name="name" required>
          <br>
        Style*: <input class = 'field' type="text" name="style" required>
          <br>
        IBU: <input class = 'field' type="number" name="ibu">
          <br>
        ABV*: <input class = 'field' type="text" name="abv" required>
          <br>
        Description*: <input class = 'field' type="text" name="description" required>
          <br>
        Image URL: <input class = 'field' type="text" name ="image url">
          <br>
          <br>
        <input class='addButton' type="submit" value="Add Entry to Library">
      </form>
    </div>

  </body>
</html>
