<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>

    <nav>
  <a href="/library">
    <button class='deleteButton' type="button">Cancel</button>
  </a>
</nav>

<div class="header">
  <h1>homebrewers database</h1>
</div>

<div class="formContainer">
    <form class="addForm" action="/library" method="post">
  <br>
  Name: <input type="text" name="name" required>
  <br>
  Style: <input type="text" name="style" required>
  <br>
  IBU: <input type="number" name="ibu">
  <br>
  ABV: <input type="text" name="abv" required>
  <br>
  Description: <input type="text" name="description" required>
  <br>
  <br>
  <input class='addButton' type="submit" value="Add Entry to Library">
</form>
</div>

  </body>
</html>
