<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<div class="titlebar">


    <div class="header">
      <h1>homebrewers database</h1>
    </div>
</div>
    <div class="confirmDelete">
      <h2>Are you sure you want to delete <%=beer.name%> from your database?</h2>
    <form action="/library/<%=beer._id%>?_method=DELETE" method="POST">
      <input class = 'deleteButton'  type="submit" value="Yes, Delete Forever"/>
    </form>

    <a href="/library">
      <button class='deleteButton' type="button">No, Take Me Back</button>
    </a>
  </div>

  </body>
</html>
