<%- include('./partials/head.ejs')%>

  <body>

    <div class="titlebarHome">

      <div class="headerHome">
        <h1 id = 'headerHome'>HomeBrew DataBase</h1>
        </div>
<nav class="menubar">


      <div class="topnavHome">
        <%- include('./partials/nav.ejs')%>
      </div>

    </nav>
</div>

<div class="homepage">

  <div class="homeIntro">
    <h4>Being an avid homebrewer, I have created a database containing personal brews along with images and comments about them to try next time.</h4>

    <h4>In the library you can add new brew entries, edit existing brew entries and others can leave critiques/feedback to your brews.</h4>
    </div>


</div>



  </body>
</html>
