<%- include('./partials/head.ejs')%>

  <body>

    <div class="titlebar">

      <%- include('./partials/header.ejs')%>

      <div class="topnav">
        <nav class ="menubar">
          <a href="/home">
            <button type="button" class ="lnr lnr-home" name="home"></button>
          </a>
          <a href="/library">
            <button class='button lnr lnr-database' type="button" name = 'library'></button>
          </a>
        </nav>
      </div>

    </div>

<div class="homepage">

  <div class="homeIntro">
    <h4>Being an avid homebrewer, I have created a database containing personal brews along with images and comments about them to try next time.</h4>
  </div>

    <div class="homeIntro">
      <h4>In the library you can add new brew entries, edit existing brew entries and others can leave critiques/feedback to your brews.</h4>
    </div>


</div>
  </body>
</html>
