<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=titleTag%></title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    
    <div class="titlebar">

      <div class="header">
        <h1>homebrewers database</h1>
      </div>

      <div class="topnav">
        <nav>
          <a href="/home">
            <button type="button" name="home">Home</button>
          </a>
          <a href="/library">
            <button class='button' type="button">Library</button>
          </a>
        </nav>
      </div>
    </div>

  </body>
</html>
