body{
  background: #EAAE6E;
}

.titlebar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  display: flex;
  justify-content: center;
  background: #2D7350;
  color: #EAAE6E;
  width:80%;
  padding: 5px;
  margin: 5px;

}
.topnav{
  display: flex;
  justify-content: space-around;
  background: #2D7350;
  width: 75%;
  padding: 5px;
  margin: 5px;
}
nav button{
  background: #;
}

.beerList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.beerimg{
  width:auto;
  height:400px;
}
li{
  list-style-type: none;
  text-align: center;
}
.beerEntry{
  background: lightblue;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}
a {
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: black;
}
.formContainer{
  border: 2px solid black;
  display: inline-block;
}
#addForm{
  border: 2px solid black;
  width: 600px;
  text-align: center;
  font-size: larger;
  display: inline-block;

}
input.field{
  font-size: larger;
}
input.addButton{
  font-size: large;
}
