body{
  /* background: #EAAE6E; */
  background: lightgrey;
}

.titlebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.header{
  display: flex;
  justify-content: center;
  background: #2D7350;
  color: #EAAE6E;
  width:80%;
  padding: 0px;
  margin: 0px;
  border: 2px solid #2D7350;
  border-radius: 5px;
}

.topnav{
  display: flex;
  justify-content: space-around;
  background: #2D7350;
  width: 75%;
  padding: 0px;
  margin: 5px;
  margin-bottom: 10px;
  border: 2px solid #2D7350;
  border-radius: 5px;
}

.menubar{
  display: flex;
  justify-content: space-around;
}

.menubar button{
  background: #EAAE6E ;
  padding: 3px;
  margin: 3px;
  color: white;
  border: 2px solid #2D7350;
  border-radius: 5px;
  width:75px;
  height:30px;
  font-size: large;
}

#beerList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin: 0px;
}

li{
  list-style-type: none;
  text-align: center;
}

#beerEntry{
  background: #2D7350;
  border: 2px solid #2D7350;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 250px;
  height: 325px;
  color: white;
}

.beerTitle{
  background: #EAAE6E;
  text-shadow: 0 0 3px #2D7350;
  color: black;
  width: auto;
  margin-top: 5px;
  border: 2px solid #2D7350;
  border-radius: 5px;
}

.beerimg{
  width:200px;
  height:250px;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: .8;
}

.formContainer{
  text-align: center;
}

input.field{
  font-size: larger;
  margin: 2px;
  padding:2px;
}

.addButton{
  font-size: large;
  background: #2D7350;
  color: white;
}

.showPage{
  display: flex;
  justify-content: center;
}

.showInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:400px;
  text-align: center;
  background-color: #2D7350;
  color: #EAAE6E;
}

h2#ul{
  text-decoration: underline;
  color: #EAAE6E;
}

h3#info{
  color: #EAAE6E;
  font-weight: lighter;
  margin: 5px;
  word-wrap: normal;
}

#addForm{
  display: inline-block;
  width: 600px;
  text-align: center;
  font-size: larger;
}

#editForm{
  display: inline-block;
  width: 600px;
  text-align: center;
  font-size: larger;
}

.homepage{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homeIntro{
  width:50%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  background: #2D7350;
  text-align: center;
}

.deleteButton{
  background:#ff0000;
  color: white;
  text-align: center;
  padding: 3px;
  margin: 3px;
  color: white;
  border: 2px solid #2D7350;
  border-radius: 5px;
  width:75px;
  height:30px;
  font-size: 40;
}
.search{
  display: flex;
  justify-content: center;
  background: #2D7350;
  padding: 5px;
  margin-bottom:15px;
  width:50%;
  border: 2px solid #2D7350;
  border-radius: 5px;
}
.search input{
  font-size: large;
}
